boto==2.44.0
certifi==2018.4.16
chardet==3.0.4
defusedxml==0.5.0
Django==1.11
django-allauth==0.35.0
django-ckeditor==5.2.1
django-cors-headers==2.1.0
django-password-reset==0.9
django-rest-auth==0.9.3
django-storages==1.5.1
django-threadlocals==0.8
djangorestframework==3.8.2
et-xmlfile==1.0.1
ez-setup==0.9
gunicorn==19.6.0
idna==2.6
jdcal==1.4
oauthlib==2.0.7
openpyxl==2.4.8
Pillow==5.1.0
psycopg2==2.7.4
python3-openid==3.1.0
pytz==2018.4
requests==2.18.4
requests-oauthlib==0.8.0
six==1.11.0
urllib3==1.22
virtualenv==13.1.2
whitenoise==3.2.2
