{% extends "base.html" %}
{% load staticfiles %}

{% block extra_estilos %}
    <link rel="stylesheet" type="text/css" href="{% static 'libs/datatables-net/media/css/dataTables.bootstrap4.min.css' %}"> <!-- original -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/styles/libs/datatables-net/datatables.min.css' %}"> <!-- customization -->
    <link rel="stylesheet" type="text/css" href="{% static 'libs/select2/css/select2.min.css' %}"> <!-- Original -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/styles/libs/select2/select2.min.css' %}"> <!-- Customization -->
{% endblock %}

{% block scrumb %}
            <div class="ks-page-header">
                <section class="ks-title-and-subtitle">
                    <div class="ks-title-block">
                        <h3 class="ks-main-title">Listado Repositores</h3>
                        <div class="ks-sub-title"></div>
                    </div>
                </section>
            </div>
        {% endblock %}

{% block contenido %}
                        <div class="container-fluid">
                            <table id="ks-datatable" class="table table-striped table-bordered" width="100%">
                                <thead>
                                <tr>
                                    <th>Nombres</th>
                                    <th>Apellidos</th>
                                    <th>Legajo</th>
                                    <th>Acciones</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>Nombres</th>
                                    <th>Apellidos</th>
                                    <th>Legajo</th>
                                    <th>Acciones</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                {% for repositor in repositores %}
                                <tr>
                                    {% if repositor.usuario.is_active %}    
                                        <td>{{ repositor.usuario.first_name }}</td>
                                        <td>{{ repositor.usuario.last_name }}</td>
                                        <!-- <td>{{ repositor.jefe.usuario.first_name }} {{ repositor.jefe.usuario.last_name }}</td> -->
                                        <td>{{ repositor.legajo }}</td>
                                        <td>
                                            <a href="/editar_repositor/{{repositor.id}}" class="button btn btn-primary-outline" style="color: #25628F">
                                                <span class="la la-edit ks-icon"></span>
                                                <span class="ks-text">Editar</span>
                                            </a>
                                            <a href="/repositor/{{repositor.usuario_id}}" class="btn btn-info-outline" style="color: #42a5f5">
                                                <span class="la la-file-text-o ks-icon"></span>
                                                <span class="ks-text">Reportes</span>
                                            </a>
                                            
                                            {% if repositor.usuario.is_active %}
                                            <a href="/inhabilitar_repositor/{{repositor.usuario_id}}" class="btn btn-danger" style="color: white">
                                                <span class="la la-trash ks-icon"></span>
                                                <span class="ks-text">Inhabilitar</span>
                                            </a>
                                            {% else %}
                                            <a href="/habilitar_repositor/{{repositor.usuario_id}}" class="btn btn-success" style="color: white">
                                                <span class="la la-trash ks-icon"></span>
                                                <span class="ks-text">Habilitar</span>
                                            </a>
                                            {% endif %}
                                        </td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
{% endblock %}


{% block scripts %}
{% endblock %}

{% block extra_scripts %}

<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="{% static 'libs/jquery/jquery.min.js' %}"></script>
<script src="{% static 'libs/responsejs/response.min.js' %}"></script>
<script src="{% static 'libs/loading-overlay/loadingoverlay.min.js' %}"></script>
<script src="{% static 'libs/tether/js/tether.min.js' %}"></script>
<script src="{% static 'libs/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'libs/jscrollpane/jquery.jscrollpane.min.js' %}"></script>
<script src="{% static 'libs/jscrollpane/jquery.mousewheel.js' %}"></script>
<script src="{% static 'libs/flexibility/flexibility.js' %}"></script>
<script src="{% static 'libs/noty/noty.min.js' %}"></script>
<script src="{% static 'libs/velocity/velocity.min.js' %}"></script>
<!-- END PAGE LEVEL PLUGINS -->

<!-- BEGIN THEME LAYOUT SCRIPTS -->
<script src="{% static 'assets/scripts/common.min.js' %}"></script>
<!-- END THEME LAYOUT SCRIPTS -->

<script src="{% static 'libs/datatables-net/media/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'libs/datatables-net/media/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'libs/select2/js/select2.min.js' %}"></script>
<script type="application/javascript">
(function ($) {
    $(document).ready(function() {
        $('#ks-datatable').DataTable({
            "initComplete": function () {
                $('.dataTables_wrapper select').select2({
                    minimumResultsForSearch: Infinity
                });
            }
        });
    });
})(jQuery);
</script>
{% endblock %}